<?xml version="1.0" encoding="UTF-8"?>
<suite name = "initial_step">
    <listeners>
        <listener class-name="listeners.ExtentReportListener"/>
    </listeners>
    <test name = "try_testNG">
        <parameter name = "browser" value = "edge"/>
        <classes>
            <class name = "webautomation_test.draggable_test.Draggable_AutoScrolling_Test"/>
        </classes>
    </test>
</suite>